
html {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}

section,
.section {
  position: relative;
  padding: 40px 0;
}

.container {
  margin: 0 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-bottom: 60px;

  .standart {
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #363636;
      margin: 0px;

      &__down {
          font-family: 'OpenSans-Regular', sans-serif;
          font-size: 16px;
          margin: 15px 0 7px 0;
          color: #363636;
      }
  }
  .small {
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #363636;
  }
  .card {
      border: 1px solid #D8D8D8;

      &__content {
          padding-left: 20px;
      }

      &__rectangle {
          font-family: Open Sans;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          padding: 8px 10px;
          width: 135px;
          position: relative;
          top: -52px;
          float: right;
          color: white;
          text-align: center;
      }
  }
}

h2 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #363636;
  margin-bottom: 7px;
  padding: 0;
}

h1 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 36px;
  color: #45852D;
  text-align: center;
  margin-bottom: 43px;
}
.filter {
  display: flex;
  margin-bottom: 45px;
  align-items: center;

  &__text {
      padding-right: 15px;
      font-family: 'OpenSans-Bold', sans-serif;
      font-size: 16px;
  }

  &__placeholder {
      border-radius: 25px;
      border: 1px solid #D8D8D8;
      height: 50px;
      width: 418px;
      background: #F2F2F2;
  }
}

.btn {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 16px;
  width: 150px;
  height: 50px;
  border: 1px solid #D8D8D8;
  border-radius: 25px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #363636;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: #F2F2F2;
}

img {
  margin-bottom: 15px;
  width: 100%;
}
.blue {
  background-color: #006F79;
}
.orange {
  background-color: #EC6608;
}

// ADAPTIVE

@media screen and (max-width: 960px) {
  .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 767px) {
  .cards {
      display: grid;
      grid-template-columns: repeat(1, 380px);
  }

  .filter {
      &__placeholder {
          width: 327px;
      }
  }

  h1 {
      font-size: 30px;
      text-align: left;
  }

  .btn {
      float: left;
  }
}